.page3 {
    display: flex;
    justify-content: center;
    align-items: center;

    .title {
        font-size: 4em;
        font-weight: 600;
        color: #fff;
        text-align: center;
        margin: 40px;
        text-shadow: #FC0 1px 0 10px;

        @media(max-width: 420px) {
            font-size: 2em;
        }
    }
}