.home {
  height: calc(100vh - 70px);

  .fp-overflow {
    height: 100%;
  }

  .fp-arrow {
    @media (max-width: 540px) {
      top: auto;
      bottom: 40px;
    }
  }

  .fp-prev {
    left: 55px;

    @media (max-width: 540px) {
      left: 10px;
    }
  }

  .fp-next {
    right: 55px;

    @media (max-width: 540px) {
      right: 10px;
    }
  }
}

#fp-nav {
  top: 50%;
}
