.page2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #fff;
    margin-top: 70px;
    height: calc(100vh - 70px);

    &__container {
        height: 100%;
        width: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media(max-width: 420px) {
            padding: 0 40px;
        }
    }

    .title {
        font-size: 3em;
        font-weight: 600;
        color: #fff;
        font-family: 'Neucha', cursive;
        text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
        text-align: center;

        @media(max-width: 420px) {
            margin-top: 20px;
            font-size: 2em;
        }
    }

    .table {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 80%;

        @media(max-width: 420px) {
            width: 100%;
            margin: 20px 40px;
        }
    }

    .block {
        font-family: 'Neucha', cursive;
        font-size: 2em;
        color: #fff;
        padding: 10px;
        border: 2px solid blanchedalmond;
        border-radius: 10px;
        margin: 10px;
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
        text-shadow: #FC0 1px 0 10px;

        @media(max-width: 560px) {
            font-size: 1.5em;
            padding: 5px;
            margin: 5px;
        }
    }
}