.page1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #fff;
    height: 100vh;

    @media(max-width: 400px) {
        justify-content: flex-start !important;
        margin-top: 80px;
    }

    &.home-slide {
        padding: 0 115px;

        @media(max-width: 400px) {
            padding: 0 45px;
        }
    }
}