.page1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #fff;

    @media(max-width: 420px) {
        justify-content: flex-start !important;
        margin-top: 65px;
    }

    &.home-slide {
        padding: 0 115px;

        @media(max-width: 540px) {
            padding: 0 50px;
        }
    }
}