.home-main {
    display: flex;
    justify-content: center;
    align-items: center;

    &.home-slide {
        padding: 0 115px;

        @media(max-width: 400px) {
            padding: 0 45px;
        }
    }
}