.animations {
    margin-top: 60px;

    .row {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .cell {
        border: 2px solid black;
        min-height: 300px;
        cursor: pointer;
        position: relative;

        &:hover {
            background-color: #f0fffe;
        }
    }

    .done {
        position: absolute;
        bottom: 5px;
        left: 5px;
    }

    button {
        border-radius: 5px;
        padding: 10px;
        background-color: blue;
        color: #fff;
        cursor: pointer;
    }
}