.trembling {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;

    .text {
        font-weight: 800;
        font-size: 40px;
        will-change: opacity;
    }
}