@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh !important;
    overflow: hidden !important;
}

.pointer {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000;
}


@media (max-width: 604px) {
    .desktop {
        display: none !important;
    }
}

@media (min-width: 604px) {
    .mobile {
        display: none !important;
    }
}