* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pointer {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000;
}

.desktop {
    @media (max-width: 604px) {
        display: none !important;
    }
}

.mobile {
    @media (min-width: 604px) {
        display: none !important;
    }
}